// Colours
$dk-gr-blue: hsl(217, 19%, 35%);
$dk-blue: hsl(214, 17%, 51%);
$gr-blue: hsl(212, 23%, 69%);
$l-blue: hsl(210, 46%, 95%);

// General
html {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Manrope', sans-serif;
  background-color: $l-blue;
}

// Card Design
.card {
  width: 88%;
  margin: 7rem auto;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-content {
  padding: 0 3.2rem 2rem 3.2rem;
}

.card-article-title {
  margin: 4rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: $dk-gr-blue;
}

.card-article-description {
  margin: 2.4rem 0 0 0;
  line-height: 2rem;
  color: $dk-blue;
}

.author-footer {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
}

@media (min-width: 55em) {
  .card {
    margin: 20rem auto;
    flex-direction: row;
    max-width: 75rem;
  }

  .card-img {
    max-width: 28rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
    object-position: left;
  }

  .card-content {
    padding: 4rem 6rem 3rem 4rem;
  }

  .card-article-title {
    margin: 0;
    font-size: 2.1rem;
  }

  .author-footer {
    margin-top: 2.5rem;
  }
}

.profile-pic {
  display: block;
  width: 4rem;
  border-radius: 50%;
}

.author-date {
  width: 100%;
  margin-left: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-weight: 700;
  color: $dk-gr-blue;
}

.date {
  color: $gr-blue;
}

.share-button {
  margin-left: auto;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: $l-blue;
  cursor: pointer;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// Links
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
