html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Manrope', sans-serif;
  background-color: #ecf2f8;
}

.card {
  width: 88%;
  margin: 7rem auto;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-content {
  padding: 0 3.2rem 2rem 3.2rem;
  position: relative;
}

.card-article-title {
  margin: 4rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #48556a;
}

.card-article-description {
  margin: 2.4rem 0 0 0;
  line-height: 2rem;
  color: #6d7f97;
}

.author-footer {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic {
  display: block;
  width: 4rem;
  border-radius: 50%;
}

.author-date {
  width: 100%;
  margin-left: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.name {
  font-weight: 700;
  color: #48556a;
}

.date {
  color: #9eafc2;
}

.share-button {
  border: 1px solid red;
  margin-left: auto;
  padding: 0.8rem;
  position: relative;
  border-radius: 50%;
  background-color: #ecf2f8;
  cursor: pointer;
}

.share-button img {
  width: 1.5rem;
  height: 1.5rem;
}

.share-panel-desktop {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: #48556a;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-panel-mobile {
  position: absolute;
  width: 100%;
  height: 8rem;
  left: 0;
  bottom: 0;
  background-color: #48556a;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.25s, height 0.25s ease-in;
  transition: opacity 0.25s, height 0.25s ease-in;
}

.share-panel-mobile div {
  margin-left: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: #9eafc2;
}

.share-panel-mobile img {
  width: 2rem;
}

.share-panel-mobile .panel-share-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
  border-radius: 50%;
  background-color: #6d7f97;
  position: relative;
}

.share-panel-mobile .panel-share-icon img {
  position: relative;
  top: 25%;
  left: 30%;
  width: 1.3rem;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(109%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(109%) contrast(101%);
}

.share-panel-mobile:not(.show) {
  height: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.25s, height 0.25s ease-out;
  transition: opacity 0.25s, height 0.25s ease-out;
}

@media (min-width: 55em) {
  .card {
    margin: 20rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 75rem;
  }
  .card-img {
    max-width: 28rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  .card-content {
    padding: 4rem 6rem 3rem 4rem;
  }
  .card-article-title {
    margin: 0;
    font-size: 2.1rem;
  }
  .author-footer {
    margin-top: 2.5rem;
  }
  .share-panel-mobile {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */